<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet22_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1},{80,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,73},{80,114}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,77},{80,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1},{80,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,83},{80,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,155},{80,114}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,159},{80,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,83},{80,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,165},{80,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,237},{80,114}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,241},{80,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,165},{80,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,569},{92,106}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{92,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1},{70,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{70,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,323},{78,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,247},{78,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,327},{78,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,329},{78,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,401},{78,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,403},{78,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,323},{78,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,247},{78,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,407},{78,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,563},{88,108}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{88,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1},{70,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{70,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,409},{78,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,409},{78,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,481},{78,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,409},{78,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,481},{78,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,483},{78,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,487},{78,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,567},{88,108}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{88,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{74,118}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{74,118}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,489},{78,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,561},{78,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,247},{80,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>pet22_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,319},{80,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pet22.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:367ad8dd7189677c4447834bca6bc398:db545ff06ffbe37b7f57035a5444b4fe:a2544dd6c8b680e400be4e8c2f05fd8b$</string>
            <key>textureFileName</key>
            <string>pet22.png</string>
        </dict>
    </dict>
</plist>
