<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet25_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1},{55,49}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{55,49}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,233},{51,41}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,20},{51,41}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,230},{53,37}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{53,37}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{55,53}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{55,53}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,113},{55,49}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{55,49}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1},{55,49}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{55,49}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,170},{55,49}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{55,49}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,227},{55,49}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{55,49}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,174},{57,37}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{57,37}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,101},{57,37}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{57,37}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,285},{57,37}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{57,37}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,344},{57,37}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{57,37}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,113},{59,35}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{59,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,56},{55,43}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{55,43}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,284},{57,47}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{57,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,345},{55,47}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{55,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,343},{57,47}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{57,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,58},{55,47}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{55,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,52},{57,47}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{57,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,286},{57,47}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{57,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,345},{55,47}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{55,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,343},{57,47}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{57,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,58},{55,47}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{55,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,52},{57,47}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{57,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1},{55,39}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{55,39}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,115},{51,35}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{51,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,152},{53,35}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{53,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,340},{51,35}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{51,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,189},{53,35}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{53,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,226},{51,35}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{51,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,230},{53,35}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,26},{53,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,330},{51,35}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,26},{51,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,189},{53,35}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{53,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,279},{49,37}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,24},{49,37}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,285},{53,35}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,26},{53,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,187},{55,41}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{55,41}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,140},{57,45}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{57,45}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,56},{53,55}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{53,55}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pet25.png</string>
            <key>size</key>
            <string>{213,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8b9d2bc852b3ca3ea61bf8d1ad6140b:fbac9fdf8c4bb46a7981953504dfaf95:ad3d1ab43d2c6cf01c571b2c23850903$</string>
            <key>textureFileName</key>
            <string>pet25.png</string>
        </dict>
    </dict>
</plist>
