<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet25_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,239},{108,98}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{108,98}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,461},{100,82}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{100,82}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,371},{104,72}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,49},{104,72}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,165},{108,102}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{108,102}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,167},{108,96}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{108,96}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,265},{108,96}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{108,96}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,271},{108,96}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{108,96}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,339},{108,96}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{108,96}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,91},{110,72}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,45},{110,72}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,93},{110,72}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,45},{110,72}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,165},{110,72}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,45},{110,72}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,93},{110,72}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,45},{110,72}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{114,68}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,53},{114,68}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,363},{106,82}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,39},{106,82}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,71},{110,92}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{110,92}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,269},{108,92}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{108,92}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1},{112,90}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{112,90}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,369},{108,90}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,31},{108,90}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,363},{108,92}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{108,92}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1},{110,90}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{110,90}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,269},{108,92}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{108,92}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1},{112,90}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{112,90}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,369},{108,90}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,31},{108,90}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,363},{108,92}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{108,92}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,437},{108,78}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,44},{108,78}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,269},{100,68}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,53},{100,68}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,517},{100,68}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,53},{100,68}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,525},{100,68}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,53},{100,68}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,545},{100,68}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,53},{100,68}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,587},{100,68}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,53},{100,68}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,531},{100,68}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,53},{100,68}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,595},{100,68}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,53},{100,68}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,545},{100,68}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,53},{100,68}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,477},{96,70}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,52},{96,70}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,457},{104,66}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,55},{104,66}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,447},{106,82}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,40},{106,82}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1},{110,88}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,34},{110,88}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>pet25_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,167},{102,108}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{102,108}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pet25.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fba0bae485cc0e8b94928c97465c9fa5:94c22cf0f60fc2366cf278f0fafa5fca:5c30026d58cf2af8a65ffbc7f54ef336$</string>
            <key>textureFileName</key>
            <string>pet25.png</string>
        </dict>
    </dict>
</plist>
