<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet902_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,186},{64,94}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,39},{64,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,320},{66,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,38},{66,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,184},{64,94}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{64,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,318},{66,92}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,43},{66,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{64,94}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,39},{64,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{66,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,38},{66,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,190},{64,94}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{64,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,252},{66,92}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,43},{66,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,150},{64,94}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,39},{64,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,250},{66,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,38},{66,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,120},{64,94}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{64,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{66,92}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,43},{66,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,454},{76,72}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,59},{76,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{54,108}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,37},{54,108}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,458},{64,92}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,41},{64,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,388},{64,92}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{64,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,118},{64,94}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,39},{64,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,386},{64,92}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,39},{64,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{64,94}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,39},{64,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{62,92}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,39},{62,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{64,92}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{64,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,392},{64,92}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,39},{64,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{84,66}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,75},{84,66}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{48,118}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,28},{48,118}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,246},{64,92}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,40},{64,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,124},{64,94}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,38},{64,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,324},{66,92}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,45},{66,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,428},{70,86}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,44},{70,86}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,256},{66,92}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,46},{66,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,340},{70,86}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,53},{70,86}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,58},{64,94}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{64,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,54},{64,94}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,40},{64,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,54},{64,94}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{64,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{50,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,24},{50,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,52},{64,94}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,45},{64,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{64,94}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,39},{64,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,452},{84,66}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,75},{84,66}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>pet902_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,118}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,28},{48,118}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet902.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36d9837e2d059c55789d89c988691d93:1/1$</string>
            <key>textureFileName</key>
            <string>pet902.png</string>
        </dict>
    </dict>
</plist>
