<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ch17x2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1},{164,218}}</string>
                <key>offset</key>
                <string>{-7,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,133},{164,218}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,925},{168,192}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,135},{168,192}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,903},{172,192}}</string>
                <key>offset</key>
                <string>{-3,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,137},{172,192}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,889},{168,194}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,135},{168,194}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,533},{172,190}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,137},{172,190}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,737},{164,198}}</string>
                <key>offset</key>
                <string>{-7,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,133},{164,198}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1443},{130,182}}</string>
                <key>offset</key>
                <string>{-1,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,182},{130,182}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,147},{160,214}}</string>
                <key>offset</key>
                <string>{-5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,135},{160,214}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,167},{162,212}}</string>
                <key>offset</key>
                <string>{-7,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,137},{162,212}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1575},{180,128}}</string>
                <key>offset</key>
                <string>{30,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1259},{180,128}}</string>
                <key>offset</key>
                <string>{33,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,236},{180,128}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,331},{170,208}}</string>
                <key>offset</key>
                <string>{-28,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,156},{170,208}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,469},{172,204}}</string>
                <key>offset</key>
                <string>{-26,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,160},{172,204}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,425},{180,204}}</string>
                <key>offset</key>
                <string>{-29,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,160},{180,204}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,419},{174,206}}</string>
                <key>offset</key>
                <string>{-30,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,158},{174,206}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,503},{186,200}}</string>
                <key>offset</key>
                <string>{16,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,164},{186,200}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,607},{200,194}}</string>
                <key>offset</key>
                <string>{9,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,170},{200,194}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,595},{186,202}}</string>
                <key>offset</key>
                <string>{17,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,162},{186,202}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,691},{198,196}}</string>
                <key>offset</key>
                <string>{10,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,167},{198,196}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1059},{132,188}}</string>
                <key>offset</key>
                <string>{29,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,176},{132,188}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,941},{140,188}}</string>
                <key>offset</key>
                <string>{43,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,176},{140,188}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,643},{92,200}}</string>
                <key>offset</key>
                <string>{33,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,164},{92,200}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,783},{140,198}}</string>
                <key>offset</key>
                <string>{21,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,166},{140,198}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,707},{106,198}}</string>
                <key>offset</key>
                <string>{30,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,166},{106,198}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,803},{134,198}}</string>
                <key>offset</key>
                <string>{33,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,166},{134,198}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,349},{148,182}}</string>
                <key>offset</key>
                <string>{26,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,182},{148,182}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1077},{168,186}}</string>
                <key>offset</key>
                <string>{-13,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,173},{168,186}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1095},{142,186}}</string>
                <key>offset</key>
                <string>{-10,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,173},{142,186}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1193},{172,182}}</string>
                <key>offset</key>
                <string>{-25,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,173},{172,182}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1239},{174,182}}</string>
                <key>offset</key>
                <string>{-26,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,173},{174,182}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1193},{172,182}}</string>
                <key>offset</key>
                <string>{-25,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,173},{172,182}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1193},{172,182}}</string>
                <key>offset</key>
                <string>{-25,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,173},{172,182}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1193},{172,182}}</string>
                <key>offset</key>
                <string>{-25,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,173},{172,182}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1193},{172,182}}</string>
                <key>offset</key>
                <string>{-25,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,173},{172,182}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1193},{172,182}}</string>
                <key>offset</key>
                <string>{-25,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,173},{172,182}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1193},{172,182}}</string>
                <key>offset</key>
                <string>{-25,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,173},{172,182}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1193},{172,182}}</string>
                <key>offset</key>
                <string>{-25,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,173},{172,182}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1267},{174,182}}</string>
                <key>offset</key>
                <string>{-26,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,173},{174,182}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1247},{172,182}}</string>
                <key>offset</key>
                <string>{-25,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,173},{172,182}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1083},{174,182}}</string>
                <key>offset</key>
                <string>{-26,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,173},{174,182}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1415},{172,182}}</string>
                <key>offset</key>
                <string>{-25,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,173},{172,182}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1443},{130,182}}</string>
                <key>offset</key>
                <string>{-1,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,182},{130,182}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1},{164,218}}</string>
                <key>offset</key>
                <string>{-7,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,133},{164,218}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,111},{144,216}}</string>
                <key>offset</key>
                <string>{11,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,148},{144,216}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,939},{186,188}}</string>
                <key>offset</key>
                <string>{-24,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,176},{186,188}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1127},{184,138}}</string>
                <key>offset</key>
                <string>{-25,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,226},{184,138}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{240,108}}</string>
                <key>offset</key>
                <string>{-31,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,256},{240,108}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,108}}</string>
                <key>offset</key>
                <string>{-24,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,256},{256,108}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,108}}</string>
                <key>offset</key>
                <string>{-24,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,256},{256,108}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,108}}</string>
                <key>offset</key>
                <string>{-24,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,256},{256,108}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,108}}</string>
                <key>offset</key>
                <string>{-24,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,256},{256,108}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,331},{170,208}}</string>
                <key>offset</key>
                <string>{-28,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,156},{170,208}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,309},{158,212}}</string>
                <key>offset</key>
                <string>{-16,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,152},{158,212}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1421},{176,166}}</string>
                <key>offset</key>
                <string>{13,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,198},{176,166}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,167},{180,154}}</string>
                <key>offset</key>
                <string>{9,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,210},{180,154}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1367},{178,132}}</string>
                <key>offset</key>
                <string>{12,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,232},{178,132}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,815},{196,124}}</string>
                <key>offset</key>
                <string>{17,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,240},{196,124}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1},{164,218}}</string>
                <key>offset</key>
                <string>{-7,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,133},{164,218}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,257},{160,214}}</string>
                <key>offset</key>
                <string>{-13,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,1},{160,214}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,265},{158,214}}</string>
                <key>offset</key>
                <string>{-13,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,18},{158,214}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1},{144,220}}</string>
                <key>offset</key>
                <string>{11,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,143},{144,220}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
            <key>ch17x2_0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,111},{152,218}}</string>
                <key>offset</key>
                <string>{-8,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,146},{152,218}}</string>
                <key>sourceSize</key>
                <string>{364,364}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ch17x2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7417c662c430ed279012bbcfca19e9a5:ca5b1bc6716ab264e907fdc2b42097ab:f20f81c65bca78ad2564fc2e74f760fa$</string>
            <key>textureFileName</key>
            <string>ch17x2.png</string>
        </dict>
    </dict>
</plist>
