<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet25_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,89},{55,49}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{55,49}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,314},{51,41}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{51,41}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,252},{53,37}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{53,37}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,97},{55,53}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{55,53}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,128},{55,49}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{55,49}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,152},{55,49}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{55,49}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,181},{55,49}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{55,49}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,140},{55,49}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{55,49}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,87},{57,37}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{57,37}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,50},{57,37}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{57,37}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,50},{57,37}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{57,37}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,89},{57,37}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{57,37}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{59,35}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{59,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,232},{55,43}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{55,43}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1},{57,47}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{57,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,179},{55,47}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{55,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,38},{57,47}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{57,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,203},{55,47}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{55,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1},{57,47}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{57,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1},{57,47}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{57,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,179},{55,47}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{55,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,38},{57,47}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{57,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,203},{55,47}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{55,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1},{57,47}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{57,47}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,228},{55,39}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{55,39}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,271},{51,35}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{51,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,277},{53,35}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{53,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,306},{51,35}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{51,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,234},{53,35}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{53,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,328},{51,35}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{51,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,269},{53,35}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{53,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,357},{51,35}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,26},{51,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,234},{53,35}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{53,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,308},{49,37}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{49,37}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,291},{53,35}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{53,35}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,191},{55,41}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{55,41}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,50},{57,45}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{57,45}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>pet25_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,126},{53,55}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{53,55}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pet25.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1928ffa7a6d9a9a638a00e7d4c4645d2:94c22cf0f60fc2366cf278f0fafa5fca:5c30026d58cf2af8a65ffbc7f54ef336$</string>
            <key>textureFileName</key>
            <string>pet25.png</string>
        </dict>
    </dict>
</plist>
