<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet901_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,104},{32,40}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,176},{36,40}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{36,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,70},{32,40}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,27},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,140},{34,38}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,29},{34,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,36},{32,40}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,27},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,134},{36,40}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{36,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{32,40}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,26},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,128},{34,40}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{34,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,212},{32,40}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,178},{36,40}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{36,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,170},{32,40}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,86},{34,40}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{34,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{38,30}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,36},{38,30}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{26,48}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{26,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,104},{34,38}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,28},{34,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,90},{32,42}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{32,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,46},{32,42}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{32,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,128},{32,40}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{32,42}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{32,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,86},{32,40}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,44},{34,40}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{34,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,44},{32,40}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,134},{42,28}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,43},{42,28}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{24,50}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{24,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,104},{34,38}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,28},{34,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{32,40}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{34,40}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{34,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,176},{36,36}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,29},{36,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,220},{34,40}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,29},{34,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,218},{36,38}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,32},{36,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,86},{32,40}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,44},{32,40}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{32,40}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{26,48}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{26,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,212},{32,40}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,170},{32,40}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{32,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{44,28}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,43},{44,28}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet901_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,52}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{24,52}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet901.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:302b5ffa77ff87bd0cc049453628af4c:1/1$</string>
            <key>textureFileName</key>
            <string>pet901.png</string>
        </dict>
    </dict>
</plist>
