<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pet902_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,100},{32,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{32,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,200},{34,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,19},{34,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,66},{32,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{32,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,168},{34,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,22},{34,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{32,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{32,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,134},{34,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,19},{34,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,130},{32,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{32,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,100},{34,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,22},{34,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,98},{32,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{32,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{34,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,19},{34,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,66},{32,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{32,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,164},{34,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,22},{34,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,204},{38,36}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,30},{38,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{28,54}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,19},{28,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,32},{32,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{32,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{32,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{32,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{32,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{32,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,204},{32,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{32,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,96},{32,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{32,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,170},{32,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{32,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,170},{32,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{32,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,136},{32,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{32,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,238},{42,34}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,37},{42,34}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{24,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,13},{24,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{32,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{32,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,64},{32,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,18},{32,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{34,48}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,21},{34,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{36,44}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,21},{36,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,132},{34,46}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,23},{34,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,236},{36,44}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,26},{36,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,32},{32,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{32,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{32,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{32,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,62},{32,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{32,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{26,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,12},{26,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,30},{32,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{32,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,28},{32,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{32,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,204},{42,34}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,37},{42,34}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pet902_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,13},{24,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet902.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3df54b94e04a97372fcabd7d8ba8e85a:1/1$</string>
            <key>textureFileName</key>
            <string>pet902.png</string>
        </dict>
    </dict>
</plist>
